# Database Connection
# Format: mysql://user:password@host:port/database_name
MYSQL_URL=mysql://user:password@127.0.0.1:3306/forum

# Security Config
# To generate a random secret key, run: openssl rand -hex 32
SECRET_KEY=yoursecretkeyhere_changeme_in_production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Optional Features
# BACKEND_CORS_ORIGINS=["http://localhost:3000","http://localhost:8080"]
