-- MySQL dump 10.13  Distrib 8.4.8, for Win64 (x86_64)
--
-- Host: localhost    Database: sitp_hedging
-- ------------------------------------------------------
-- Server version	8.4.8

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `aerich`
--

DROP TABLE IF EXISTS `aerich`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `aerich` (
  `id` int NOT NULL AUTO_INCREMENT,
  `version` varchar(255) NOT NULL,
  `app` varchar(100) NOT NULL,
  `content` json NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aerich`
--

LOCK TABLES `aerich` WRITE;
/*!40000 ALTER TABLE `aerich` DISABLE KEYS */;
/*!40000 ALTER TABLE `aerich` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `announcement_meta`
--

DROP TABLE IF EXISTS `announcement_meta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `announcement_meta` (
  `announcement_id` varchar(50) NOT NULL,
  `announcement_title` varchar(200) NOT NULL,
  `publish_date` date NOT NULL,
  `biz_year` smallint NOT NULL,
  `storage_type` varchar(20) NOT NULL,
  `storage_key` varchar(500) NOT NULL,
  `parse_status` smallint NOT NULL,
  `parsed_at` datetime(6) DEFAULT NULL,
  `parse_error` varchar(500) DEFAULT NULL,
  `parse_version` varchar(50) DEFAULT NULL,
  `stock_code_id` varchar(6) NOT NULL,
  PRIMARY KEY (`announcement_id`),
  KEY `idx_announcemen_publish_f458b2` (`publish_date`),
  KEY `idx_announcemen_parse_s_12e76c` (`parse_status`),
  KEY `idx_announcemen_stock_c_1ee53a` (`stock_code_id`,`biz_year`),
  CONSTRAINT `fk_announce_listed_c_af6d2f01` FOREIGN KEY (`stock_code_id`) REFERENCES `listed_company_base` (`stock_code`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `announcement_meta`
--

LOCK TABLES `announcement_meta` WRITE;
/*!40000 ALTER TABLE `announcement_meta` DISABLE KEYS */;
/*!40000 ALTER TABLE `announcement_meta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `announcement_parse_result`
--

DROP TABLE IF EXISTS `announcement_parse_result`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `announcement_parse_result` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `llm_model` varchar(50) DEFAULT NULL,
  `prompt_version` varchar(50) DEFAULT NULL,
  `parsed_json` json DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `announcement_id` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_announce_announce_e1f3632c` (`announcement_id`),
  CONSTRAINT `fk_announce_announce_e1f3632c` FOREIGN KEY (`announcement_id`) REFERENCES `announcement_meta` (`announcement_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `announcement_parse_result`
--

LOCK TABLES `announcement_parse_result` WRITE;
/*!40000 ALTER TABLE `announcement_parse_result` DISABLE KEYS */;
/*!40000 ALTER TABLE `announcement_parse_result` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company_yearly_main_business`
--

DROP TABLE IF EXISTS `company_yearly_main_business`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `company_yearly_main_business` (
  `id` int NOT NULL AUTO_INCREMENT,
  `biz_year` smallint NOT NULL,
  `main_business` longtext NOT NULL,
  `industry_class` varchar(50) NOT NULL,
  `business_core` varchar(200) NOT NULL,
  `stock_code_id` varchar(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uid_company_yea_stock_c_3b6407` (`stock_code_id`,`biz_year`),
  KEY `idx_company_yea_biz_yea_e911f9` (`biz_year`),
  KEY `idx_company_yea_industr_4801d7` (`industry_class`),
  KEY `idx_company_yea_busines_655238` (`business_core`),
  CONSTRAINT `fk_company__listed_c_11d85ec1` FOREIGN KEY (`stock_code_id`) REFERENCES `listed_company_base` (`stock_code`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company_yearly_main_business`
--

LOCK TABLES `company_yearly_main_business` WRITE;
/*!40000 ALTER TABLE `company_yearly_main_business` DISABLE KEYS */;
/*!40000 ALTER TABLE `company_yearly_main_business` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `futures_commodity_catalog`
--

DROP TABLE IF EXISTS `futures_commodity_catalog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `futures_commodity_catalog` (
  `catalog_id` int NOT NULL AUTO_INCREMENT,
  `catalog_level` smallint NOT NULL,
  `commodity_full_name` varchar(100) NOT NULL,
  `commodity_short_name` varchar(50) NOT NULL,
  `exchange` varchar(50) DEFAULT NULL,
  `association_code` varchar(50) DEFAULT NULL,
  `parent_catalog_id` int DEFAULT NULL,
  PRIMARY KEY (`catalog_id`),
  UNIQUE KEY `commodity_full_name` (`commodity_full_name`),
  UNIQUE KEY `association_code` (`association_code`),
  KEY `idx_futures_com_catalog_4b2a94` (`catalog_level`),
  KEY `idx_futures_com_parent__de4291` (`parent_catalog_id`),
  CONSTRAINT `fk_futures__futures__b3f58e99` FOREIGN KEY (`parent_catalog_id`) REFERENCES `futures_commodity_catalog` (`catalog_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `futures_commodity_catalog`
--

LOCK TABLES `futures_commodity_catalog` WRITE;
/*!40000 ALTER TABLE `futures_commodity_catalog` DISABLE KEYS */;
/*!40000 ALTER TABLE `futures_commodity_catalog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hedging_business_detail`
--

DROP TABLE IF EXISTS `hedging_business_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hedging_business_detail` (
  `id` int NOT NULL AUTO_INCREMENT,
  `biz_year` smallint NOT NULL,
  `hedging_limit` decimal(20,2) DEFAULT NULL,
  `hedging_direction` varchar(20) DEFAULT NULL,
  `hedging_term` varchar(50) DEFAULT NULL,
  `business_desc` longtext,
  `announcement_id` varchar(50) NOT NULL,
  `catalog_id` int NOT NULL,
  `stock_code_id` varchar(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uid_hedging_bus_announc_ca61c0` (`announcement_id`,`catalog_id`,`biz_year`,`hedging_direction`),
  KEY `idx_hedging_bus_stock_c_b8da28` (`stock_code_id`,`biz_year`),
  KEY `idx_hedging_bus_catalog_d6be16` (`catalog_id`,`biz_year`),
  CONSTRAINT `fk_hedging__announce_c54e32d9` FOREIGN KEY (`announcement_id`) REFERENCES `announcement_meta` (`announcement_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_hedging__futures__8c4790d8` FOREIGN KEY (`catalog_id`) REFERENCES `futures_commodity_catalog` (`catalog_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_hedging__listed_c_6bdc5fec` FOREIGN KEY (`stock_code_id`) REFERENCES `listed_company_base` (`stock_code`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hedging_business_detail`
--

LOCK TABLES `hedging_business_detail` WRITE;
/*!40000 ALTER TABLE `hedging_business_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `hedging_business_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `listed_company_base`
--

DROP TABLE IF EXISTS `listed_company_base`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `listed_company_base` (
  `stock_code` varchar(6) NOT NULL,
  `company_name` varchar(100) NOT NULL,
  `company_short_name` varchar(50) NOT NULL,
  `market` varchar(20) NOT NULL,
  `establish_date` date DEFAULT NULL,
  `list_date` date DEFAULT NULL,
  PRIMARY KEY (`stock_code`),
  KEY `idx_listed_comp_market_8fdf1a` (`market`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `listed_company_base`
--

LOCK TABLES `listed_company_base` WRITE;
/*!40000 ALTER TABLE `listed_company_base` DISABLE KEYS */;
/*!40000 ALTER TABLE `listed_company_base` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-06 19:16:29
